<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<label>
    <input type="text" th:value="${num}" name="number_input" id="numbers" size="41px" readonly>
</label>
<div class="first_div">
    <a th:href="@{/add/{num}(num=${7})}"><button class="num">7</button></a>
    <!--  <div class="col-4"><a class="btn btn-danger w-100" th:href="@{/vacancies/delete/{id}(id=${vacancy.id})}">Удалить</a></div>-->
    <a th:href="@{/add/{num}(num=${8})}"><button class="num">8</button></a>
    <a th:href="@{/add/{num}(num=${9})}"><button class="num">9</button></a>
    <a th:href="@{/delete}"><button class="num" style="background-color: orange;">AC</button></a>
    <a th:href="@{/add/{num}(num='d')}"><button class="num" style="background-color: orange;">/</button></a>
</div>
<div>
    <a th:href="@{/add/{num}(num=${4})}"><button class="num">4</button></a>
    <a th:href="@{/add/{num}(num=${5})}"><button class="num">5</button></a>
    <a th:href="@{/add/{num}(num=${6})}"><button class="num">6</button></a>
    <a th:href="@{/add/{num}(num='m')}"><button class="num" style="background-color: orange;">-</button></a>
    <a th:href="@{/add/{num}(num='u')}"><button class="num" style="background-color: orange;">*</button></a>
</div>
<div>
    <a th:href="@{/add/{num}(num=${1})}"><button class="num">1</button></a>
    <a th:href="@{/add/{num}(num=${2})}"><button class="num">2</button></a>
    <a th:href="@{/add/{num}(num=${3})}"><button class="num">3</button></a>
    <a th:href="@{/add/{num}(num='p')}"><button class="num" style="background-color: orange;">+</button></a>
    <a th:href="@{/add/{num}(num='f')}"><button class="num">.</button></a>
</div>
<div>
    <a th:href="@{/add/{num}(num=${0})}"><button class="num" style="width: 204px;">0</button></a>
    <a th:href="@{/result}"><button class="num" style="width: 204px;">=</button></a>
</div>
</body>
</html>
