<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Calculator</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<label>
    <input type="text" th:value="${num}" name="number_input" id="numbers" size="41px" readonly>
</label>
<div class="first_div">
    <a th:href="@{/seven}"><button class="num">7</button></a>
    <a th:href="@{/eight}"><button class="num">8</button></a>
    <a th:href="@{/nine}"><button class="num">9</button></a>
    <a th:href="@{/delete}"><button class="num" style="background-color: orange;">AC</button></a>
    <a th:href="@{/divide}"><button class="num" style="background-color: orange;">/</button></a>
</div>
<div>
    <a th:href="@{/four}"><button class="num">4</button></a>
    <a th:href="@{/five}"><button class="num">5</button></a>
    <a th:href="@{/six}"><button class="num">6</button></a>
    <a th:href="@{/minus}"><button class="num" style="background-color: orange;">-</button></a>
    <a th:href="@{/multiply}"><button class="num" style="background-color: orange;">*</button></a>
</div>
<div>
    <a th:href="@{/one}"><button class="num">1</button></a>
    <a th:href="@{/two}"><button class="num">2</button></a>
    <a th:href="@{/three}"><button class="num">3</button></a>
    <a th:href="@{/plus}"><button class="num" style="background-color: orange;">+</button></a>
    <a th:href="@{/fractional}"><button class="num">.</button></a>
</div>
<div>
    <a th:href="@{/zero}"><button class="num" style="width: 204px;">0</button></a>
    <a th:href="@{/result}"><button class="num" style="width: 204px;">=</button></a>
</div>
</body>
</html>
